<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_create' %}">Edit</a>
                </p>
            </div>
            <h2>Task</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                    <tbody>
                        {% for value in todo_object.items.all %}
                        <tr>
                            <td>{{ value.task }}</td>
                            <td>{{ value.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>
</html>
